Django==2.2.24
#Django==3.0.3
Pillow==6.0.0
djangorestframework==3.11.0 
gunicorn==20.0.4
heroku==0.1.4
whitenoise==5.0.1
django-heroku==0.3.1
django-cors-headers==3.2.1 
# idna==2.9
# numpy==1.18.1
# pandas==1.0.2
# psycopg2==2.8.4
# pycodestyle==2.5.0
# python-dateutil==2.8.1
# python-decouple==3.3
# pytz==2019.3
# requests==2.23.0
six==1.14.0
# sqlparse==0.3.0
# Unipath==1.1
# urllib3==1.25.8